In [2]:
#Importar librerias Pandas
import pandas as pd

In [3]:
#Leer archivo csv
df = pd.read_csv("C:/Users/Lenovo/Desktop/Boot Camp/Python/Desafio_5/Apoyo Desafío - Tipos y Estructuras de Datos (Parte II)/resumen_resultados_astronautas.csv")

In [4]:
df.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si

In [5]:
#Crea la columna "IMC"
df["IMC"] = df.peso/((df.altura/100)*(df.altura/100))

In [6]:
#Crea la columna "promedio evaluaciones"
df["promedio_evaluaciones"] = (df.evaluacion_fisica+df.evaluacion_psicologica+df.evaluacion_adaptativa+df.evaluacion_medica)/4

In [7]:
df.head(1)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.0

In [9]:
"Obtener IMC está entre 18.5 y 24.9"
df_mod= df.query("IMC <= 24.9 and IMC >= 18.5")
df_mod

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.00
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si,24.382373,86.25
2,Sofía Puig,29,80,185,85,80,90,91,3,Si,23.374726,86.50
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.224490,89.50
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019,87.25
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No,22.145329,84.75
6,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881,88.00
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876,89.75
9,María José Franco,29,70,175,87,90,80,89,2,No,22.857143,86.50
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si,22.282592,86.00
11,Alberto Graciani,28,62,163,81,93,77,85,5,No,23.335466,84.00
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673,89.50
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.781213,89.25
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si,23.671254,86.75
15,Pablo Capmany,29,69,171,82,94,80,88,4,No,23.597004,86.00
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.204082,87.25
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No,22.589551,84.00
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808,89.75
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si,19.470778,85.25
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si,24.655910,84.25
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687,90.50
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si,23.456790,85.75
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No,22.229062,86.50
27,Sophie González,36,75,176,85,82,84,80,7,No,24.212293,82.75
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818,91.50
29,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401,90.00
30,Clara Arias,44,63,162,77,87,88,84,11,No,24.005487,84.00
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si,20.478267,84.25

In [ ]:
#Agregar condición de promedio de las 4 evaluaciones

In [10]:
df_mod_2= df_mod.query("promedio_evaluaciones >= 87")
df_mod_2

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.00
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.224490,89.50
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019,87.25
6,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881,88.00
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876,89.75
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673,89.50
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.781213,89.25
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.204082,87.25
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808,89.75
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687,90.50
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818,91.50
29,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401,90.00

In [12]:
#Reinicia los indices
df3 = df_mod_2.reset_index(drop=True)
df3

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.00
1,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.224490,89.50
2,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019,87.25
3,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881,88.00
4,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876,89.75
5,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673,89.50
6,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.781213,89.25
7,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.204082,87.25
8,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808,89.75
9,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687,90.50
10,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818,91.50
11,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401,90.00

In [14]:
#Modifica el valor de la columna "califica", para que diga "Si" en todas las filas del DataFrame resultante.

df3['califica'] = df3['califica'].replace('No','Si')
df3

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.00
1,Valentina Tasis,30,65,175,90,91,85,92,2,Si,21.224490,89.50
2,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019,87.25
3,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881,88.00
4,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876,89.75
5,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673,89.50
6,Cristóbal Miralles,31,72,174,88,91,86,92,6,Si,23.781213,89.25
7,Nicolás Cambeiro,29,68,175,88,90,81,90,2,Si,22.204082,87.25
8,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808,89.75
9,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687,90.50
10,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818,91.50
11,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401,90.00

In [18]:
#Exporta el DataFrame resultante a un archivo .csv separado por comas con el nombre "astronautas_calificados.csv"


df3.to_csv("astronautas_calificados.csv", index = False, sep = ',', header = True)