In [34]:
# Carga los datos de cada pestaña del archivo US_Regional_Sales_Data.xlsx en un DataFrame independiente.

import pandas as pd
SalesOrdersSheets= pd.read_excel('C:/Users/Lenovo/Desktop/Boot Camp/Python/Desafio 7/Apoyo Desafío - Manipulación y transformación de datos (Parte II)/US_Regional_Sales_Data.xlsx', sheet_name = 'SalesOrdersSheet')
SalesOrdersSheets.head(1)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,259,12,5,0.075,1963.1,1001.181

In [35]:
CustomersSheet= pd.read_excel('C:/Users/Lenovo/Desktop/Boot Camp/Python/Desafio 7/Apoyo Desafío - Manipulación y transformación de datos (Parte II)/US_Regional_Sales_Data.xlsx', sheet_name = 'CustomersSheet')
CustomersSheet.head(1)

   _CustomerID Customer Names
0            1      Avon Corp

In [36]:
StoreLocationsSheet= pd.read_excel('C:/Users/Lenovo/Desktop/Boot Camp/Python/Desafio 7/Apoyo Desafío - Manipulación y transformación de datos (Parte II)/US_Regional_Sales_Data.xlsx', sheet_name = 'StoreLocationsSheet')
StoreLocationsSheet.head(1)

,_StoreID,City Name,County,StateCode,State,Type,Latitude,Longitude,AreaCode,Population,Household Income,Median Income,Land Area,Water Area,Time Zone
0,1,Birmingham,Shelby County/Jefferson County,AL,Alabama,City,33.52744,-86.79905,205,212461,89972,31061,378353942,6591013,America/Chicago

In [37]:
ProductsSheet= pd.read_excel('C:/Users/Lenovo/Desktop/Boot Camp/Python/Desafio 7/Apoyo Desafío - Manipulación y transformación de datos (Parte II)/US_Regional_Sales_Data.xlsx', sheet_name = 'ProductsSheet')
ProductsSheet.head(1)

   _ProductID Product Name
0           1     Cookware

In [38]:
SalesTeamSheet= pd.read_excel('C:/Users/Lenovo/Desktop/Boot Camp/Python/Desafio 7/Apoyo Desafío - Manipulación y transformación de datos (Parte II)/US_Regional_Sales_Data.xlsx', sheet_name = 'SalesTeamSheet')
SalesTeamSheet.head(1)

   _SalesTeamID      Sales Team     Region
0             1  Adam Hernandez  Northeast

In [39]:
#Cruza todos los DataFrames usando validación many_to_one, y guarda el resultado en una nueva variable llamada df_base.
df_merged = SalesOrdersSheets.merge(CustomersSheet,on = '_CustomerID',how ='left', validate = 'many_to_one')

In [40]:
df_merged1 = df_merged.merge(StoreLocationsSheet,on = '_StoreID',how ='left', validate = 'many_to_one')

In [41]:
df_merged2 = df_merged1.merge(ProductsSheet,on = '_ProductID',how ='left', validate = 'many_to_one')

In [42]:
df_base = df_merged2.merge(SalesTeamSheet,on = '_SalesTeamID',how ='left', validate = 'many_to_one')

In [43]:
df_base.head(1)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,AreaCode,Population,Household Income,Median Income,Land Area,Water Area,Time Zone,Product Name,Sales Team,Region
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,631,213776,68789,80327,135481314,160302131,America/New York,Dining Furniture,Joshua Bennett,Northeast

In [44]:
##Agrega las siguientes columnas a df_ base:ProcurementDays, ShippingDays, DeliveryDays y CustomerDays

df_base['ProcurementDays'] = pd.to_datetime(df_base['OrderDate']) - pd.to_datetime(df_base['ProcuredDate'])

In [45]:
df_base.shape

(7991, 35)

In [46]:
df_base['ShippingDays'] = pd.to_datetime(df_base['ShipDate']) - pd.to_datetime(df_base['OrderDate'])

In [47]:
df_base.shape

(7991, 36)

In [48]:
df_base['DeliveryDays'] = pd.to_datetime(df_base['DeliveryDate']) - pd.to_datetime(df_base['ShipDate'])

In [50]:
df_base.shape

(7991, 37)

In [51]:
df_base['CustomerDays'] = df_base['ShippingDays'] + df_base['DeliveryDays']

In [52]:
df_base.shape

(7991, 38)

In [54]:
df_base.head(1)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Land Area,Water Area,Time Zone,Product Name,Sales Team,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,135481314,160302131,America/New York,Dining Furniture,Joshua Bennett,Northeast,151 days,14 days,5 days,19 days

In [55]:
#Agrega una nueva columna discreta al df_base, con el nombre CustomerDaysInterval que clasifique los valores de la columna CustomerDays en los siguientes intervalos:

intervalos = [0, 15, 30, 45, 60, 75, 90]

In [56]:
etiquetas = ['0 to 15 days','15 to 30 days', '30 to 45 days', '45 to 60 days', '60 to 75 days', '75 to 90 days']

In [58]:
df_base['CustomerDaysInterval'] = pd.cut(df_base['CustomerDays'].dt.days, bins=intervalos, labels=etiquetas, right = True)

In [59]:
df_base.head(1)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Water Area,Time Zone,Product Name,Sales Team,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays,CustomerDaysInterval
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,160302131,America/New York,Dining Furniture,Joshua Bennett,Northeast,151 days,14 days,5 days,19 days,15 to 30 days

In [60]:
# Utiliza una tabla pivote para mostrar el conteo de órdenes agrupando por Sales Team en las filas y CustomerDaysInterval en las columnas.
df_base_reporte1 = df_base.pivot_table(
                                  index = "Sales Team"
                                ,columns = "CustomerDaysInterval"
                                 , values = "OrderNumber"
                                 , aggfunc= "count" 
                                 , margins = True
                                            )

df_base_reporte1

CustomerDaysInterval,0 to 15 days,15 to 30 days,30 to 45 days,45 to 60 days,60 to 75 days,75 to 90 days,All
Sales Team,,,,,,,
Adam Hernandez,81,179,42,0.0,0.0,0.0,302
Anthony Berry,76,181,41,0.0,0.0,0.0,298
Anthony Torres,81,162,45,0.0,0.0,0.0,288
Carl Nguyen,96,178,40,0.0,0.0,0.0,314
Carlos Miller,65,148,34,0.0,0.0,0.0,247
Chris Armstrong,92,156,44,0.0,0.0,0.0,292
Donald Reynolds,97,163,36,0.0,0.0,0.0,296
Douglas Tucker,87,145,45,0.0,0.0,0.0,277
Frank Brown,85,150,40,0.0,0.0,0.0,275
George Lewis,104,169,42,0.0,0.0,0.0,315
Jerry Green,85,165,46,0.0,0.0,0.0,296
Joe Price,87,138,41,0.0,0.0,0.0,266
Jonathan Hawkins,81,143,36,0.0,0.0,0.0,260
Joshua Bennett,85,148,32,0.0,0.0,0.0,265
Joshua Little,83,165,41,0.0,0.0,0.0,289
Joshua Ryan,83,166,36,0.0,0.0,0.0,285
Keith Griffin,94,127,25,0.0,0.0,0.0,246
Nicholas Cunningham,88,171,34,0.0,0.0,0.0,293
Patrick Graham,92,130,37,0.0,0.0,0.0,259
Paul Holmes,61,159,41,0.0,0.0,0.0,261
Roger Alexander,82,147,42,0.0,0.0,0.0,271
Roy Rice,75,166,43,0.0,0.0,0.0,284
Samuel Fowler,90,162,44,0.0,0.0,0.0,296
Shawn Cook,88,175,40,0.0,0.0,0.0,303
Shawn Torres,77,160,37,0.0,0.0,0.0,274
Shawn Wallace,95,168,53,0.0,0.0,0.0,316
Stephen Payne,97,156,30,0.0,0.0,0.0,283
Todd Roberts,113,187,40,0.0,0.0,0.0,340
All,2420,4464,1107,NaN,NaN,NaN,7991

In [62]:
import numpy as np
df_base_reporte1 .replace(np.nan, 0)

CustomerDaysInterval,0 to 15 days,15 to 30 days,30 to 45 days,45 to 60 days,60 to 75 days,75 to 90 days,All
Sales Team,,,,,,,
Adam Hernandez,81,179,42,0.0,0.0,0.0,302
Anthony Berry,76,181,41,0.0,0.0,0.0,298
Anthony Torres,81,162,45,0.0,0.0,0.0,288
Carl Nguyen,96,178,40,0.0,0.0,0.0,314
Carlos Miller,65,148,34,0.0,0.0,0.0,247
Chris Armstrong,92,156,44,0.0,0.0,0.0,292
Donald Reynolds,97,163,36,0.0,0.0,0.0,296
Douglas Tucker,87,145,45,0.0,0.0,0.0,277
Frank Brown,85,150,40,0.0,0.0,0.0,275
George Lewis,104,169,42,0.0,0.0,0.0,315
Jerry Green,85,165,46,0.0,0.0,0.0,296
Joe Price,87,138,41,0.0,0.0,0.0,266
Jonathan Hawkins,81,143,36,0.0,0.0,0.0,260
Joshua Bennett,85,148,32,0.0,0.0,0.0,265
Joshua Little,83,165,41,0.0,0.0,0.0,289
Joshua Ryan,83,166,36,0.0,0.0,0.0,285
Keith Griffin,94,127,25,0.0,0.0,0.0,246
Nicholas Cunningham,88,171,34,0.0,0.0,0.0,293
Patrick Graham,92,130,37,0.0,0.0,0.0,259
Paul Holmes,61,159,41,0.0,0.0,0.0,261
Roger Alexander,82,147,42,0.0,0.0,0.0,271
Roy Rice,75,166,43,0.0,0.0,0.0,284
Samuel Fowler,90,162,44,0.0,0.0,0.0,296
Shawn Cook,88,175,40,0.0,0.0,0.0,303
Shawn Torres,77,160,37,0.0,0.0,0.0,274
Shawn Wallace,95,168,53,0.0,0.0,0.0,316
Stephen Payne,97,156,30,0.0,0.0,0.0,283
Todd Roberts,113,187,40,0.0,0.0,0.0,340
All,2420,4464,1107,0.0,0.0,0.0,7991

In [63]:
#Agrega la siguiente columna calculada a la base:GrossMargin
df_base['GrossMargin'] = pd.to_numeric(df_base['Order Quantity']*(df_base['Unit Price']*(1-df_base['Discount Applied']) - df_base['Unit Cost']))
df_base.head(5)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Time Zone,Product Name,Sales Team,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays,CustomerDaysInterval,GrossMargin
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,America/New York,Dining Furniture,Joshua Bennett,Northeast,151 days,14 days,5 days,19 days,15 to 30 days,4073.4325
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,...,America/Chicago,Wreaths,Paul Holmes,Midwest,151 days,22 days,10 days,32 days,30 to 45 days,886.4100
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,...,America/Detroit,Stemware,Samuel Fowler,Midwest,151 days,21 days,10 days,31 days,30 to 45 days,905.5050
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,...,America/New York,Accessories,Carlos Miller,West,151 days,2 days,5 days,7 days,0 to 15 days,5486.7640
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,...,America/New York,Candles,Joe Price,Northeast,51 days,16 days,10 days,26 days,15 to 30 days,1312.1280

In [64]:
#En esta parte debes aplicar un porcentaje a la columna GrossMargin, pero ese porcentaje dependerá del intervalo en que se encuentre GrossMargin.

intervalos_1 = [0, 100, 1000, 10000,100000]

In [65]:
etiquetas_1 = pd.to_numeric([0.05,0.1, 0.15, 0.2])

In [75]:
df_base['CommissionsPercentage'] = pd.to_numeric(pd.cut(df_base['GrossMargin'], bins=intervalos_1, labels=etiquetas_1, right = True))

In [72]:
df_base.head(1)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays,CustomerDaysInterval,GrossMargin,CommissionsPercentage,CommissionsAmount,NetMargin
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,Northeast,151 days,14 days,5 days,19 days,15 to 30 days,4073.4325,0.15,611.014875,3462.417625

In [76]:
#Calcula el monto de la comisión, utilizando la Tabla del Anexo.

df_base['CommissionsAmount'] = pd.to_numeric(df_base['GrossMargin']*df_base['CommissionsPercentage'])
df_base.head(5)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays,CustomerDaysInterval,GrossMargin,CommissionsPercentage,CommissionsAmount,NetMargin
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,Northeast,151 days,14 days,5 days,19 days,15 to 30 days,4073.4325,0.15,611.014875,3462.417625
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,...,Midwest,151 days,22 days,10 days,32 days,30 to 45 days,886.4100,0.10,88.641000,797.769000
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,...,Midwest,151 days,21 days,10 days,31 days,30 to 45 days,905.5050,0.10,90.550500,814.954500
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,...,West,151 days,2 days,5 days,7 days,0 to 15 days,5486.7640,0.15,823.014600,4663.749400
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,...,Northeast,51 days,16 days,10 days,26 days,15 to 30 days,1312.1280,0.15,196.819200,1115.308800

In [77]:
#Calcula la comisión sobre el margen bruto.

df_base['NetMargin'] = df_base['GrossMargin'] - df_base['CommissionsAmount']
df_base.head(5)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays,CustomerDaysInterval,GrossMargin,CommissionsPercentage,CommissionsAmount,NetMargin
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,Northeast,151 days,14 days,5 days,19 days,15 to 30 days,4073.4325,0.15,611.014875,3462.417625
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,...,Midwest,151 days,22 days,10 days,32 days,30 to 45 days,886.4100,0.10,88.641000,797.769000
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,...,Midwest,151 days,21 days,10 days,31 days,30 to 45 days,905.5050,0.10,90.550500,814.954500
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,...,West,151 days,2 days,5 days,7 days,0 to 15 days,5486.7640,0.15,823.014600,4663.749400
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,...,Northeast,51 days,16 days,10 days,26 days,15 to 30 days,1312.1280,0.15,196.819200,1115.308800

In [73]:
#Utilizando una tabla pivote, muestra la suma de los valores GrossMargin, NetMargin y CommissionAmount agrupando por Sales Team en las filas

df_base_reporte2 = df_base.pivot_table(
                                  index = "Sales Team"
                                  ,values = ("CommissionsAmount", "GrossMargin", "NetMargin")
                                  , aggfunc= "sum" 
                                  , margins = True
                                        )

df_base_reporte2

                     CommissionsAmount   GrossMargin     NetMargin
Sales Team
Adam Hernandez            1.266372e+05  7.790952e+05  6.779873e+05
Anthony Berry             1.240612e+05  7.679440e+05  6.547983e+05
Anthony Torres            1.179622e+05  7.439014e+05  6.367580e+05
Carl Nguyen               1.238432e+05  7.747815e+05  6.618747e+05
Carlos Miller             1.108821e+05  6.687529e+05  5.803260e+05
Chris Armstrong           1.225657e+05  7.816087e+05  6.608574e+05
Donald Reynolds           1.437683e+05  8.853868e+05  7.540383e+05
Douglas Tucker            1.208064e+05  7.455286e+05  6.337861e+05
Frank Brown               1.048395e+05  6.708813e+05  5.700768e+05
George Lewis              1.368523e+05  8.391507e+05  7.108248e+05
Jerry Green               1.266604e+05  7.885878e+05  6.703790e+05
Joe Price                 1.288229e+05  7.877074e+05  6.626621e+05
Jonathan Hawkins          1.262169e+05  7.813916e+05  6.646299e+05
Joshua Bennett            1.080491e+05  6.617265e+05  5.692421e+05
Joshua Little             1.358062e+05  8.403212e+05  7.139012e+05
Joshua Ryan               1.142049e+05  7.021578e+05  6.069049e+05
Keith Griffin             1.129401e+05  6.754536e+05  5.996883e+05
Nicholas Cunningham       1.278330e+05  7.926449e+05  6.831646e+05
Patrick Graham            1.216509e+05  7.463940e+05  6.322861e+05
Paul Holmes               1.142249e+05  7.055646e+05  5.988674e+05
Roger Alexander           1.224879e+05  7.730277e+05  6.583238e+05
Roy Rice                  1.345471e+05  8.314466e+05  7.068772e+05
Samuel Fowler             1.293671e+05  7.932549e+05  6.712090e+05
Shawn Cook                1.359863e+05  8.548780e+05  7.243492e+05
Shawn Torres              1.142910e+05  7.056196e+05  6.009504e+05
Shawn Wallace             1.169421e+05  7.267377e+05  6.242365e+05
Stephen Payne             1.161115e+05  7.071568e+05  6.062416e+05
Todd Roberts              1.258321e+05  7.942254e+05  6.921236e+05
All                       3.444193e+06  2.167156e+07  1.822736e+07